{% extends 'base.html.twig' %}

{% block title %}Create Books|The Writers Block{% endblock %}

{% block body %}
  <h2>Create Book</h2>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}

