{% extends 'base.html.twig' %}

{% block title %}Create Author|The Writers Block{% endblock %}

{% block body %}
  <h2>Create Author</h2>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}

